.title-small {
    color: #003f63;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

/* Button start*/
.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 11px 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-main {
    background: #003f63;
    border: none;
    z-index: 1;
}

.btn-main:after,
.btn-contact:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #56c5d0;
    background-image: linear-gradient(315deg, 56c5d0 0%, #56c5d0 74%);
    transition: all 0.3s ease;
}

.btn-menu {
    width: 45px;
    height: 45px;
    line-height: 1px;
    border-radius: 50%;
    background: #003f63;
    border-width: 0px;
}

/* Button End */