body,
li,
p {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*#nav{
	background:#fff;
	box-shadow:0 2px 10px rgb(0 0 0 / 8%);
}*/
/* -------------- search open css start------------------------------*/
.search_form_wrap {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1290px;
    height: 100%;
}

.search_form {
    font-size: 1em;
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    border: none;
}

.search_field {
    font-size: 1.9rem !important;
    line-height: normal !important;
    font-weight: 400 !important;
    width: 100%;
    height: 3em;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1.5em 0 0;
    border: none;
    visibility: visible;
    background-color: transparent;

    font-family: 'Urbanist', sans-serif;
}

.search_field:focus {
    outline: none;
}

::placeholder {
    color: #003f63;
    opacity: 0.6;
}

.search_form:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #003f63;
    opacity: 0.2;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.search_submit {
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

/* The overlay effect with black background */
.overlay {
    height: 40%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #d9edf6;
    transition: 0.5s;
}

/* The content */

/* Close button */
.overlay .closebtn {
    position: absolute;
    top: 56px;
    right: 80px;
    cursor: pointer;
}

.overlay .search-header-logo {
    position: absolute;
    top: 50px;
    left: 80px;
    cursor: pointer;
}

/* -------------- search open css end------------------------------*/






.pb {
    padding-bottom: 35px;
}

/* -------------- menu open css start------------------------------*/
.overlay-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d9edf6;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-menu-item {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #003f63;
    display: block;
    transition: 0.3s;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

.overlay-menu a:hover,
.overlay-menu a:focus {
    color: #56c5d0;
}

.overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    width: 45px;
    height: 45px;
    line-height: 1px;
    border-radius: 50%;
    background: #003f63;
    border-width: 0px;
}

/* -------------- menu open css end------------------------------*/

/* -------------- main button css start------------------------------*/
.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 11px 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-main {
    background: #003f63;
    border: none;
    z-index: 1;
}

.btn-main:after,
.btn-contact:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #56c5d0;
    background-image: linear-gradient(315deg, #56c5d0 0%, #56c5d0 74%);
    transition: all 0.3s ease;
}

.btn-main:hover,
.btn-contact:hover {
    color: #fff;
}

.btn-main:hover:after,
.btn-contact:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-main:active,
.btn-contact:active {
    top: 2px;
}

/*contact button*/
.contact-btn {
    color: #003f63;
    border-radius: 5px;
    padding: 11px 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-contact {
    background: #fff;
    border: none;
    z-index: 1;
}

/* -------------- main button css end------------------------------*/

.header-social-icon .search-text {
    border: none;
    background: none;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.header-social-icon .search-text:focus:hover {
    border-bottom: 1px solid #BBB;
}

.header-social-icon .search-text:focus {
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 0;
    font-weight: 500;
    font-size: 16px;
    margin: 0 18px;
    word-break: normal;
}

.navbar .navbar-nav .nav-link:hover {
    color: #003f63;
    font-weight: 600;
}

.swiper {
    width: 100%
}

.swiper-button-next {
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    --swiper-navigation-size: 90px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    --swiper-navigation-size: 90px;
}

.swiper-button-prev::after {
    display: none;
}


.bg-wrapper {
    overflow: hidden;
}

@media (max-width: 1600px) {
    .big-section .image-area img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .navbar-expand-lg>.container-fluid {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media (max-width: 1400px) {
    .big-section .image-area img {
        max-width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .footer-main .contact-sec .title-heading {
        text-align: center !important;
    }
}

@media (max-width: 767px) {

    .footer-main .contact-sec .button-contact,
    .footer-main .contact-sec .title-contact {
        padding: 15px 0 15px 0 !important;
    }
}

@media (max-width: 767px) {

    .footer-end ul,
    .footer-end p {
        text-align: center !important;
        padding: 10px !important;
    }
}

@media (max-width: 767px) {
    .why-aspire .card-select {
        padding: 10px !important;
    }
}

@media (max-width: 800px) {
    .big-section .image-area {
        padding-top: 50px !important;
    }
}

@media (max-width: 800px) {
    .big-section {
        padding: 100px 0 !important;
    }
}

@media (max-width: 800px) {

    .projects .title,
    .projects .wrapper {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}

@media (max-width: 800px) {
    .projects .wrapper {
        padding-top: 0px !important;
    }
}

@media (max-width: 800px) {
    .aspire-service .services {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}

@media (max-width: 800px) {
    .mission-vision .image-section {
        padding-bottom: 40px !important;
    }
}

@media (max-width: 800px) {
    .mission-vision .container {
        padding-top: 0px !important;
    }
}

@media (max-width: 800px) {
    .countmain .main {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media (max-width: 600px) {
    .footer-main {
        padding-top: 0px !important;
    }
}

@media (max-width: 1400px) {
    .search_form {
        width: 80% !important;
    }
}

@media (max-width: 1200px) {
    .search_form {
        width: 50% !important;
    }
}

@media (max-width: 600px) {
    .search_form {
        width: 24% !important;
    }
}

@media (max-width: 600px) {
    .overlay .closebtn {
        right: 20px !important;
    }
}

@media (max-width: 600px) {
    .overlay .search-header-logo {
        left: 20px !important;
    }
}

@media (max-width:1366px) {
    .title-main {
        font-size: 47px !important;
    }

    .title-heading {
        font-size: 37px !important;
    }

    .move-bottom-top {
        padding: 25px !important;
    }

    .project-data {
        padding: 30px 0 30px 0 !important;
    }
}

@media(max-width:415px) {
    .title-main {
        font-size: 36px !important;
        line-height: 50px !important;
    }

    .title-heading {
        font-size: 30px !important;
        line-height: 40px !important;
    }
}

.project-data {
    padding: 46px 0 46px 0;
}


.card-service {
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 8px;

}

.card-service .text {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
    color: #003f63;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card-service:hover .text {

    transition: all 0.3s ease;
    opacity: 1;
}

.move-bottom-top {
    padding: 35px;
}

.text em {
    position: absolute;
    height: 1px;
    background: #003f63;
    width: 32%;
    left: 44px;
    bottom: 10.5%;
    transform: scaleX(0.25);
    transform-origin: center right;
    transition: all 0.3s ease;
    z-index: 1;
}

.card-service:hover .move-bottom-top {
    transform: translateY(-5px);

}

.big-section .card-service:hover {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
    border: 0px;
    box-shadow: 0px 0px 68px 0px rgb(0 0 0 / 8%);
    cursor: pointer;
    color: #003f63;
}

.aspire-projects .card-service:hover {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
    border: 0px;
    box-shadow: 0px 0px 68px 0px rgb(0 0 0 / 8%);
    cursor: pointer;
    color: #003f63;
}

.contact-sec {
    background: #003f63;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-menu {
    width: 45px;
    height: 45px;
    line-height: 1px;
    border-radius: 50%;
    background: #003f63;
    border-width: 0px;
}





.title-small {
    color: #003f63;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.title-main {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -1px;

}

.title-main span {
    font-weight: 400;
}

.aspire-tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.countmain {
    display: block;
    overflow: hidden;
    padding: 40px 0 30px;
    background: url(../images/dots.png) no-repeat left top;
    position: relative;
    z-index: 1;
}

.countmain:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 90px;
    background: url(../images/dots2.png) no-repeat;
    width: 424px;
    height: 400px;
    z-index: -1;
}

.testimonial-data:after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 29px;
    background: url(../images/quotes.png) no-repeat;
    width: 180px;
    height: 149px;
    z-index: -1;
}

.testimonial-test {
    opacity: 0.4;
}

.testimonial-area .swiper-slide-active {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #003f63 !important;
}

.card-select:hover {
    background: #003f63;
    color: #fff;
    cursor: pointer;
}

.title-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    padding-bottom: 10px;
}

.title-heading span {
    font-weight: 400;
}

.count-data {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #003f63;
    letter-spacing: -1px;
}

.count-content {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.count-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #003f63;
    line-height: 40px;
    letter-spacing: -1px;
    padding-bottom: 10px;
}

.big-section {
    padding: 140px 0;
}

.background-position-center-bottom {
    background-position: center bottom !important;
}

.cover-background {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
    position: relative;
    background-position: center center !important;
}

.detail-1 img,
.detail-2 img,
.detail-3 img {
    padding-right: 15px;
    height: 23px;
}

.client-logo {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 68px 0px rgb(0 0 0 / 8%);
}

.client-logo li {
    list-style-type: none;
    filter: grayscale(100%);
    opacity: 40%;
    transition: all 300ms linear 0s;
}

.client-logo li:hover {
    filter: grayscale(0%);
    opacity: 100%;
    cursor: pointer;
}

.footer-main {
    padding-top: 70px;
}

.footer-detail h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 18px;
}

.footer-detail ul {
    padding-left: 0px;
}

.footer-detail li {
    list-style-type: none;
    padding-bottom: 15px;
    cursor: pointer;

}

.footer-end ul {
    text-align: end;
}

.footer-end ul li {
    display: inline;
    padding-left: 24px;
}

.footer-content li {
    padding-left: 15px;
}

.footer-detail .text-secondary:hover,
.footer-end .text-secondary:hover {
    color: #003f63 !important;
    font-weight: 600 !important;
}